* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

h1 {
    text-align: center;
}

img {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    height: 27.9cm;
    background-image: url("https://i.pinimg.com/originals/64/86/bd/6486bd691a537f281a91660a21a88902.gif");
    padding: 10px;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

section {
    background-color: rgba(57, 140, 235);
    margin: 5px;
    padding: 10px;
    color: aliceblue;
}

aside {
    background-color: orange;
    margin: 5px auto;
    padding: 10px;
    display: block;
}

@media (max-width: 940px) {
    li {
        font-size: small;
    }
    h1 {
        font-size: medium;
    }
    h3 {
        font-size: small;
    }
    p {
        font-size: 12px;
    }
    img {
        width: 100px;
        height: 115px;
    }
}